# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
out/
web/bower_components
web/node_modules
/webapps/ROOT/bower_components/
/webapps/ROOT/node_modules/
/lib/
/webapps/ROOT/WEB-INF/lib/
/web/META-INF/context.xml
