<!DOCTYPE html>
<section ng-controller="bookDetailsController">

    <header class="navbar navbar-default navbar-static-top" role="banner">

    </header>
    <div class="container">

        <div class="row">
            <div class="col-md-4" id="leftCol">
                <div ><img src="{{details.thumbnail}}" class="img-responsive" ></div>


            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>{{details.title}}</h3>
                        <span>by <strong>{{details.author}}</strong></span>
                    </div>
                    <div class="panel-body isbn">
                        <label>ISBN :&nbsp;&nbsp;</label><span>{{details.isbn}}</span><br>
                        <label>Langue :&nbsp;&nbsp;</label><span>{{details.language}}</span><br>
                        <label>Note :&nbsp;&nbsp<span>{{details.average_rating}}/5</span></label>
                    </div>

                    <div class="panel-body desc"><label>Description</label><br><p ng-bind-html="details.desciption || 'N/A'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>