section.home {
    position: relative;
    background: url("../images/book-bg-1.jpg") no-repeat center;
    background-size: cover;
}

.signout {
    cursor: pointer;
}


.search-wrapper {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 60%;
}

.search-wrapper .welecome {
    font-family: "Open Sans";
    font-size: 28pt;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

section.search-result {
    padding-bottom: 60px;
    background-color: whitesmoke;
}

.result-number {
    color: white;
    text-align: center;
    padding-top: 20px;
}