html, body, .main-view, section.home {
    height: 95%;
}

.main-view {
    margin-top: 60px;
}

.main-view > section {
    margin-bottom: 50px;
}

.book-view {
    padding-top: 30px;
}

.book-view .book-image {
    text-align: center;
}

.book-view .book-image {
    display: inline;
}