<div class="bookCard">
    <div class="row">
        <div class="col-md-3">
            <img class="bookThumbnail" ng-src="{{book.volumeInfo.imageLinks.thumbnail || 'images/default-book.jpg' }}" alt="bookimage">
        </div>
        <div class="col-md-9">
            <h1 class="bookTitle">{{book.volumeInfo.title}}</h1>
            <h2 class="bookInfo">ISBN: </h2>
            <p>{{(book.volumeInfo.industryIdentifiers)[0].identifier}}</p>
            <h2 class="bookInfo">Authors: </h2>
            <p>
                <span ng-repeat="author in book.volumeInfo.authors"> {{author}} </span>.
            </p>
            <br>
            <p ng-show="book.userCount == 0">Aucun utilisateur ne possède ce livre.</p>
            <p ng-show="book.userCount == 1">Un seul utilisateur souhaite échanger ce livre.</p>
            <p ng-show="book.userCount > 1">{{book.userCount}} Utilisateurs souhaitent échanger ce livre.</p>


            <a href="#/book/{{book.volumeInfo.industryIdentifiers[0].identifier}}"
               class="btn btn-success pull-right">
                Details
            </a>
        </div>
    </div>
</div>